:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --white-color: #ffffff;
  --logo-header-color: #000000;
  --hero-footer-color: #2f303a;
  --footer-color: rgba(255, 255, 255, 0.6);
  --section-team-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
}

.link,
.link-footer {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo {
  color: var(--title-text-color);
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .address {
  color: var(--primary-text-color);
  font-style: normal;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-header {
  color: var(--logo-header-color);
}

.logo-footer {
  color: var(--white-color);
}

footer,
.hero {
  background: var(--hero-footer-color);
}

.hero > h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  margin-left: 700px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.section-team {
  background: var(--section-team-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.position-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  font-style: normal;
}

.link-footer {
  color: var(--footer-color);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.button:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.works-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.container {
  width: 1600px;
  margin-left: 215px;
  margin-right: 215px;
}

nav > .link.logo {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 25px;
}

.hero-title {
  margin: 0;
  margin-left: 452px;
  padding-top: 200px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

ul,
h3,
h2,
h4,
p {
  padding: 0;
  margin: 0;
}

.features-title {
  padding-top: 94px;
  padding-bottom: 10px;
}

.section-title {
  padding-top: 94px;
  padding-bottom: 50px;
}

.section-image {
  padding-bottom: 94px;
}

.name-title {
  padding-top: 30px;
  padding-bottom: 10px;
}

footer .link.logo {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;
}

.link-footer {
  display: inline-block;
  margin-bottom: 9px;
  margin-top: 9px;
}

.container-works {
  padding-top: 94px;
}

.button-works {
  margin-bottom: 50px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.works-title {
  margin-top: 20px;
  margin-bottom: 4px;
}

.works-text {
  margin-bottom: 20px;
}
